<section class="TwoWayDataBinding">

  <article>
  <h3>Two Way Data Binding</h3>
  <div>
    Enter your name:
    <input type="text"
      [value] = "name"
      (input)= "name = inputName.value" #inputName
    >
    <p>Your name is: {{ name }}</p>
    <br><br>
    Name:
    <input type="text" [(ngModel)]='people.name'>
    &nbsp;&nbsp;
    Age:
    <input type="text" [(ngModel)]='people.age'>
    <br><br>
    <p> Your name is {{ people.name }} and your age is {{ people.age }} </p>
    <br><br>
  </div>
  </article>

</section>
